# Supabase autohosteado
NEXT_PUBLIC_SUPABASE_URL=https://supa.manmec.cl
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key_publico_aqui

# Si utilizaremos edge functions o admin server scripts:
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui
